<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.purple-pink.min.css" />
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/style.css"
	</head>
	<body>

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<h1 class="mdl-layout-title">MCMUCH</h1>
				</div>
			</header>

			<main class="mdl-layout__content">
				<p>Hello, you have reached the website for MCMUCH, which is currently being programmed right now, and so it is not up right now!<br />
				   However, If you want to see the source code, go to <a href="https://github.com/Nightfall">our GitHub organisation</a>, and here is a list on what we are currently working on:</p>
				<ul>
				<li><a href="https://github.com/Nightfall/MCMUCH-Ruby-API">MCMUCH-Ruby-API</a> is the server side code that we use for the API.</li>
					<li><a href="https://github.com/Nightfall/MCMUCH-Rust-Website">MCMUCH-Rust-Website</a> is the server side code for this website.</li>
				</ul>
			</main>
		</div>

	</body>
</html>
