<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.purple-pink.min.css" />
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/style.css"
	</head>
	<body>

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<h1 class="mdl-layout-title">{{ title }}</h1>
				</div>
			</header>

			<main class="mdl-layout__content">
				{{{ content }}}
			</main>
		</div>

	</body>
</html>
